body{
    margin: 0 ;
    font-size: 20px;
    background: url("../img/contatos2.jpg");
    background-size: cover;
    width: 100%;

}
header{
    background-color: rgb(161, 161, 161);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: candara;
    letter-spacing: 2px;
    font-size: 20px;
    
}
nav{
    overflow: hidden;
    background-color: bisque;
    
}
nav a{
    font-family: candara;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}
nav a:hover{
    opacity: 80%;
}
#contatos a{
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.4s;
    color: rgb(70, 70, 70)
}
#contatos a:hover{
    opacity: 90%;
    color: black;
    
}

.Principal{
    padding: 300px;
    text-align: center;
    color: rgb(70, 70, 70);
    font-family: candara;
    font-size: 30px;
}